*{
    margin: 0;
    padding: 0;
}
.logoDiv{
    display: flex;
}
.logo{
    font-weight: 900;
    font-size: x-large;
}
.headerDiv{
    display: flex;
    
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}
.headerDiv li{
    list-style-type: none;
    
    margin: 0 20px;
    cursor: pointer;
}
.headerDiv ul{
    
   
    align-items: center;
}
.headerDiv button{
    padding: 15px 20px;
    background-color: rgb(19, 19, 19);
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
}
.headerDiv button:hover{
    background-color: rgba(0, 0, 0, 0.734);
    color: #e6e6e6;
}
.button{
    color: rgb(0, 0, 0);
}
.menu{
    display: flex;
    color: rgb(119, 119, 119);
}
.menu a{
    position: relative;
    transition: top 1s;
    color: rgb(119, 119, 119);
}
.menu a:hover{
    top: -1px;
    color: rgb(79, 79, 79);
}
.more{
    display: none;
}
.moreIcon{
    
    width: 2rem;
    height: 2rem;
}
@media only screen and (max-width:1000px){
    .more{
        display: flex;
    }
    .menu{
        display: none;
    }
    .more li{
        margin-right: 2px;
    }
}
@media only screen and (max-width:500px){
    .headerDiv{
        padding:10px 0;
    }
    
    .moreIcon{
        width: 1.5rem;
    }
}
a{
    text-decoration: none;
}

.logo a{
    color: rgb(0, 0, 0);
}